<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rewardedAdUnitID</key>
	<string>ca-app-pub-6562905997824789/6785143588</string>
	<key>interstitialAdUnitID</key>
	<string>ca-app-pub-6562905997824789/5875510304</string>
	<key>rewardedButtonTitle</key>
	<string>Watch an ad for currency.</string>
</dict>
</plist>
